<section class="features">
<div class="row">
    <h2>Let us be a part of your beautiful journey</h2>
</div>

<div class="row">
<div *ngFor="let skill of skills; trackBy: trackBySkillId">
<div class="col span-1-of-4 feature-box" [ngStyle]="{ 'opacity' : highlight(skill.name) }">
    
                <h3>
                    {{skill.name}}
                </h3>
                <p>
                    {{skill.description}}
                </p>
                <a [routerLink]="['/gallery']">View Gallery</a>
    </div>
</div>
</div>
</section>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->